@model Entities.User
@using Animal.Web.MediaComponents
@using System.Text.Json;

<div>
	@Html.SingleStringInput("userMessage")
	
	<input type="button" id="sendButton" value="send message"></input>
    
    <br />

    @Html.SingleStringInput("userToMessage")

    @Html.SingleStringInput("userTo")

    <input type="button" id="sendToButton" value="send message"></input>

    <hr />

	<ul id="messagesList"></ul>
</div>

<span id="modelData" hidden="hidden">@Html.Raw(JsonSerializer.Serialize(Model))</span>
<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>