
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a target="_blank" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
</div>
