@using Animal.Web.MediaComponents


@using (Html.BeginForm("DeleteUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = $"formSubmit('{Url.Action("DeleteUser", "User")}', this, event);" }))
{
	@Html.AntiForgeryToken()
	<div>@Html.ValidationMessage("FormValidation")</div>

	@Html.SingleStringInput("id")

	@Html.SubmitButton("Submit form")
}
