@model Entities.CategoryType

@{
	ViewData["title"] = "CategoryType";
}

<div>
	<table class="table table-bordered table-striped">
		<thead>
			<th class="p-3">ID</th>
			<th class="p-3">Name</th>
			<th class="p-3">ImagePath</th>
		</thead>
		<tr>
			<td class="p-3">@Model.Id</td>
			<td class="p-3">@Model.CategoryName</td>
			<td class="p-3">@Model.ImagePath</td>
		</tr>
	</table>
</div>
