@{
	ViewData["title"] = "Category type index page";
}

<div>
	<ul>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="categoryType" asp-action="GetAllCategories">GetAllCategories</a>
		</li>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="categoryType" asp-action="GetCategoryType" asp-route-id="0">GetCategoryType</a>
		</li>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="categoryType" asp-action="AddCategoryType">AddCategoryType</a>
		</li>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="categoryType" asp-action="UpdateCategoryType">UpdateCategoryType</a>
		</li>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="categoryType" asp-action="DeleteCategoryType">DeleteCategoryType</a>
		</li>
	</ul>
</div>
