@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "FileUpload";
}

<div>
	@using (Html.BeginForm("GetFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.SingleStringInput("FileName")
		
		@Html.SubmitButton("Submit form")
	}
</div>
