

<ul>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("UploadFile", "FileUpload")');">UploadFile</a>
	</li>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("GetFile", "FileUpload")');">GetFile</a>
	</li>
</ul>
