
@{
	ViewData["title"] = "FileUpload";
}

<div>
	<ul>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="FileUpload" asp-action="UploadFile">UploadFile</a>
		</li>
		<li class="nav-item h3">
			<a class="nav-link text-dark" asp-area="" asp-controller="FileUpload" asp-action="GetFile">GetFile</a>
		</li>
	</ul>
</div>