@model Entities.FileUpload
@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "FileUpload";
}
<div>
	@using (Html.BeginForm("UploadFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.TextInput(m=>m.files)

		@Html.SubmitButton("Submit form")
	}
</div>
