@{
	ViewData["title"] = "Animal";
}

<div>
	@using (Html.BeginForm("DeleteAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationMessage("FormValidation")

		<br />

		<span>Enter ID: </span>
		<input type="text" name="id" />
		<br />
		<br />
		<input type="submit" value="Submit Form" />
	}
</div>
