@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "Animal";
}

<div>
	@using (Html.BeginForm("DeleteAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.SingleStringInput("id")

		@Html.SubmitButton("Submit form")
	}
</div>
