@{
	ViewData["title"] = "Delete Animal";
}

<div>
	@using (Html.BeginForm("FormDeleteAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<span>Enter ID: </span>
		<input type="text" name="id" />
		<br />
		<br />
		<input type="submit" value="Submit Form" />
	}
</div>
